<title>Tiny App</title>
<link rel="stylesheet" href ="/styles.css"/>
<div>
  <form action="/login" method="POST">
    <label for="username">Username: </label>
    <input id="username" type="text" name="username" placeholder="Your username here">
    <input type="submit" value="Login">
  </form>
</div>
<div>
  <p>Username: <%= username %></p>
</div>











