<!DOCTYPE html>
<html>
<head>
  <% include ../partials/_header %>
</head>
<body>
  <% if (urls[shortURL].user_id === user) { %>
  <h1>ShortURL: <%= shortURL %></h1>
  <div>
    <form action="/urls/<%= shortURL %>" method="POST">
      <input type="text" name="newURL" value="<%= urls[shortURL].longUrl %>"/>
      <button type="submit">Update</button>
    </form>
  </div>
  <br>
  <br>

  <% } else { %>
  <p>Not your URL</p>
  <% } %>
  <a href="/urls">Back to URL list</a>

</body>
</html>