<!DOCTYPE html>
<html>
<head>
  <% include ../partials/_header %>
</head>
<body>
  <p>Short URL = <%= shortURL %></p>
  <p>Long URL = <%= urls[shortURL] %></p>
  <a href="/urls">Back to URL list</a>
</body>
</html>