ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li:last-child {
  border-bottom: 1px solid #ccc;
}

body {
  background-color: grey;
}

div {
  width: 40%;
  display: inline-block;
  height: 10px;
}